<a [routerLink]="['/home']">主页</a>
<!-- <a [routerLink]="['/product']" [queryParams]="{ id: 1 }">商品详情</a> -->
<a [routerLink]="['/product', 1]">商品详情</a>
<button (click)="toProductDetails()">商品详情</button>
<a [routerLink]="[{ outlets: { primary: 'home', aux: 'chat' } }]">开始聊天</a>
<a [routerLink]="[{ outlets: { aux: null } }]">结束聊天</a>
<div class="router-box">
  <div class="router-left"><router-outlet></router-outlet></div>
  <div class="router-right"><router-outlet name="aux"></router-outlet></div>
</div>
